body {
  margin: 0;
  padding: 0;
}

.background {
  background-color: black;
  background: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
}

.gif {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 20em;
}
